body {
  color: #444;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  background: #fff;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d293e;
  font-weight: 600;
}
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

/* header */
.navigation {
  /* background-color: rgb(36, 137, 177); */
  color: #fff;
}
.scrolled {
  background-color: rgb(57, 159, 199);
}
.navbar-nav li a {
  color: #fff !important;
}
header {
  background: url(../img/bg/home-bg.jpg) rgba(19, 19, 19, 0.474);
  width: 100%;
  max-height: 116.7vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.iphone-img {
  position: relative;
  left: 60%;
  top: -12rem;
  z-index: 1;
  height: 30rem;
}
.main-header-box {
  margin: 10rem 2rem 0rem 2rem;
}
.main-header-text1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.main-header-text2 {
  color: #fff;
}
.main-header-btn-box {
  background-color: rgb(57, 159, 199);
  color: white;
  border-radius: 20px;
  margin-top: 2rem !important;
  width: 10rem;
}

@media only screen and (max-width: 640px) {
  header {
    max-height: 150vh;
  }
  .iphone-img {
    display: none;
  }
  .main-header-box {
    margin: 10rem 2rem 0rem 2rem;
    padding-bottom: 30rem;
  }
  .main-header-text2 {
    font-size: 20px;
  }
  .main-header-btn-box {
    font-size: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1224px) {
  p {
    font-size: 25px !important;
  }
  .iphone-img {
    display: none;
  }
  .main-header-box {
    margin: 10rem 2rem 0rem 2rem;
    padding-bottom: 30rem;
  }
  .main-header-btn-box {
    font-size: 25px;
    width: 13rem;
  }
}
/* features */
.features-text2 {
  margin: auto;
  width: 75%;
  color: #1d293e;
  font-size: 1.5rem;
}
.features-icon {
  color: rgb(57, 159, 199);
  padding: 20px;
  size: 2rem;
  background-color: #fff;
  /* width: 50%; */
  margin: auto;
  border-radius: 50%;
}
.features-card-text1,
.features-card-text2 {
  color: #fff;
}
.card1 {
  background-color: rgb(57, 159, 199);
}
.card2 {
  background-color: rgb(17, 37, 100);
}
.card3 {
  background-color: rgb(24, 177, 75);
}
.card4 {
  background-color: rgba(245, 58, 161, 0.871);
}
@media only screen and (max-width: 670px) {
  .features-card-text1 {
    font-size: 30px;
  }
  .features-card-text2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .features-card-text1 {
    font-size: 35px;
  }
  .features-card-text2 {
    font-size: 15px;
  }
}
/* mock-up section */
.mock-up-img {
  width: 30rem;
}
.mockup-text1 {
  font-size: 3rem;
}

@media only screen and (max-width: 670px) {
  .mock-up-img {
    width: 15rem;
    margin-top: 4rem !important;
  }
  .mockup-text2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .mock-up-img {
    width: 20rem;
    margin-top: 4rem !important;
  }
}
/* features2 */
.features2 {
  background: url(../img/bg/bg-elements_4.png);
  width: 100%;
  height: 35rem;
}
.features2-card {
  position: relative;
  padding: 1.8rem;
  background-color: #fff;
  margin: 20px;
  width: 14rem;
  margin-top: 6rem;
}
.features2-text1 {
  font-size: 2.5rem;
  margin-left: 17rem;
}
.features2-text {
  color: rgb(19, 182, 247);
}
.features2-icon {
  position: absolute;
  background-color: rgb(19, 182, 247);
  top: -25px;
  padding: 1rem 1.1rem;
}
.features2 hr {
  width: 4rem;
  margin-left: 60%;
  font-size: larger;
  border: 1px dotted rgb(235, 227, 227);
  border-style: none none dotted;
}
@media only screen and (max-width: 670px) {
  .features2 {
    height: 80rem;
  }
  .features2-text1 {
    font-size: 1rem;
    margin-left: 8rem;
    margin-top: -5rem;
  }
  .features2-card {
    margin-top: 2rem;
    width: 15rem;
    margin: auto;
    padding: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 40px;
  }
  .features2 hr {
    margin-left: 80%;
    width: 2rem;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .features2 {
    height: 60rem;
  }
  .features2-card-text1 {
    font-size: 1.6rem;
  }
  .features2-text1 {
    margin-top: -2.5rem;
    margin-left: 22.2rem;
  }
  .features2-card {
    position: relative;
    padding: 1.8rem;
    background-color: #fff;
    margin: 20px;
    width: 20rem;
    margin-top: 6rem;
  }
  .features2 hr {
    margin-left: 80%;
    width: 2rem;
  }
}
/* text slider */
.text-slider-img {
  height: 45rem;
  width: 29rem;
}
.item {
  background: #333;
  text-align: center;
  height: 300px;
}
h2 {
  margin: 0;
  color: #888;
  padding-top: 80px;
  font-size: 30px;
}
.text-slider-icon {
  padding: 1rem;
  color: #fff;
  background-color: rgb(19, 182, 247);
  border-radius: 50%;
}
.text-slider-text1 {
  color: #1d293e;
  font-size: 2.5rem;
}
.text-slider-box-divider {
  width: 4rem;
  font-size: larger;
  border: 2px dotted rgb(19, 182, 247);
  border-style: none none dotted;
}
.text-slider-main {
  margin-top: 9rem;
}
.slick-dots li button {
  margin-top: -13rem !important;
  color: rgb(19, 182, 247) !important;
}
.slick-dots li button:before {
  margin-top: -13rem !important;
  font-size: 40px !important;
  color: rgb(19, 182, 247) !important;
}
@media only screen and (max-width: 670px) {
  .text-slider-img {
    height: 35rem;
    width: 15rem;
  }
  .text-slider-text1 {
    font-size: 1.5rem;
  }
  .slick-dots li button {
    margin-top: 0rem !important;
  }
  .slick-dots li button:before {
    margin-top: 0rem !important;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .slick-dots li button {
    margin-top: 0rem !important;
  }
  .slick-dots li button:before {
    margin-top: 0rem !important;
  }
}
/* appImage Screenshots */
.appScreenshots-text1 {
  color: #1d293e;
  font-size: 2.5rem;
}
.appScreenshots-text {
  color: rgb(19, 182, 247);
}
.appScreenshots-divider {
  margin: auto;
  width: 4rem;
  font-size: larger;
  border: 2px dotted rgb(19, 182, 247);
  border-style: none none dotted;
}
@media only screen and (max-width: 670px) {
  .appScreenshots-image {
    height: 25rem;
  }
  .appScreenshots-text1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .appScreenshots-image {
    height: 25rem;
  }
}
/* video-company-overview */
.video-company-overview-img{
  width: 30rem;
}
.video-company-overview-text1{
  font-size: 2rem;
  color: #1d293e;
}
.video-company-overview-link{
color: rgb(19, 182, 247);
font-size: large;
}
.video-company-overview-link:hover{
  color: rgb(19, 182, 247);
}
.video-company-overview-icon{
  padding: 1rem;
  color: #fff;
  background-color: rgb(19, 182, 247);
  border-radius: 50%;
  box-shadow: 4px 5px 104px -1px rgba(0,0,0,0.77);
}
@media only screen and (max-width: 670px) {
  .video-company-overview-img{
    width: 15rem !important;
    margin-left: -2rem;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
 
}
/* pricing */
.pricing{
  background-color: #1d293e;
}
.pricing-text1{
color: #1d293e;
font-size: 20px;
}
.fa-circle{
font-size: 7px !important;
  color: rgb(19, 182, 247);
  margin-right: 3px;
}
.pricing3-circles{
  font-size: 7px !important;
  color:#fff !important;
  margin-right: 3px;
}
.pricing-amount{
  color: #1d293e;
font-size: 2rem;
}
.pricing-card3{
  background-color: rgb(19, 182, 247);
}
.pricing-link{
  color: #fff;
  background: linear-gradient(to right,rgb(19, 182, 247),rgb(8, 136, 187));
  width: 7rem;
  margin: auto;
  border-radius: 2rem;
  font-weight: bold;
}
.pricing-link3{
  background-color:rgba(15, 195, 226, 0.822) !important ;
  color: #fff;
  width: 7rem;
  margin: auto;
  border-radius: 2rem;
  font-weight: bold;
}
@media only screen and (max-width: 670px) {

}
@media screen and (min-width: 670px) and (max-width: 900px) {
 .pricing-card{
  margin-left:5rem;
margin-right:-5rem;
 }
}
/*testimonial-img */
.testimonial{
  background: url(../img/bg/testimonial-bg.jpg) rgba(19, 19, 19, 0.474);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:multiply ;
}
.testimonial-img{
width: 70px !important;
height: 70px !important;
border-radius: 50%;
}
.testimonial-text1{
  color: #fff;
  font-size: 3rem;
}
.fa-star{
  color: rgb(237, 182, 42);
}
/* download-app */
.download-app{
background-color: #153263;
}
.app-store-logo{
  background-color: rgb(19, 182, 247);
  border-radius: 2rem;
}
.google-play-logo{
  background-color: #fff;
  border-radius: 2rem;
}
/* accordian */
#accordion{
  width: 70% !important;
  margin: auto;
  border: 1px solid rgb(202, 193, 193) ;
}
.accordion-text1,.accordion-text2{
  font-size: 1rem !important;
}
.accordion_content{
  background-color: rgb(217, 244, 245);
  border: none !important;
}
.accordion-text2{
  font-weight: lighter;
}
.ui-accordion .ui-accordion-content {
  padding: 2rem !important;
  font-size: 1rem !important;
}
.ui-accordion-content .style {
  display: block;
 height: auto !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border: none !important;
}
.ui-icon{
  padding:10px !important;
  color: #1d293e;
} 
@media only screen and (max-width: 670px) {
  #accordion{
    width: 90% !important;
   margin-top: 2rem !important;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  #accordion{
    width: 90% !important;
   margin-top: 2rem !important;
  }
}
/* contact card */
.contact-card1{
  width: 12rem;
  margin: 1rem;
  padding: 1rem;
}
.social-icon{
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}
.fa-facebook{
  background-color: #153263;
}
.fa-twitter{
  background-color:rgb(19, 182, 247) ;
}
.fa-linkedin{
  background-color:#153263 ;
}
.fa-instagram{
  background-color: rgb(165, 98, 75);
}
.fa-envelope{
  background-color:rgb(199, 5, 5) ;
}
.contact-form-btn{
  width: 10rem;
  border-radius: 2rem;
  background: linear-gradient(to right, rgb(102, 212, 255),rgba(2, 162, 225, 0.842) );
  border: none;
  color: #fff;
  font-size: large;
  padding: 0.7rem;
}
.contact-form .form-control{
border:none;
border-bottom:1px solid gray ;
 }
 .contact-text1{
   font-size: 3rem;
   color: #1d293e;
 }
 .contact-text2{
  color: #1d293e;
 }


/* partner */
.partner{
  background-color: #153263;
}
/* map */
.map{
  width:100%;
  height: 25rem;
}
/* footer */
.footer{
  background-color: #153263;
  color:#fff !important;
}
.footer-text1{
  color:#fff !important;
  margin: auto;
}
.fa-angle-up:before{
  background-color: rgb(19, 182, 247);
  padding: 0.6rem;
  color:#fff !important;
  border-radius: 5px;
/* margin-bottom: 20px !important; */
}